<div class="row">
  <div class="col-sm-3">
    <a href="#!events/edit/{{event.id}}"> Editar Evento </a>
  </div>
  <div class="col-sm-3">
    <a href="#!/events/{{event.id}}/activities/new"> Agregar Actividad </a>
  </div>
  <div class="col-sm-3">
    <a href="#!/events/{{event.id}}/users"> Agregar Usuarios </a>
  </div>
</div>

<h1> Evento: {{event.name}}</h1>
<p> Fecha de Inicio: {{event.initial_date | date:'medium'}} </p>
<p> Fecha de Finalización: {{event.final_date | date:'medium'}} </p>
<a href="{{event.url}}"> Ingresa aquí: Página del evento </a>

<div class="slide-bottom-change">
  <button type="submit" class="btn btn-danger" ng-click="deleteEvent()" >Eliminar Evento </button>
</div>

<div class="list-group">
  <a ng-repeat="activity in event.activities" href="#!events/{{event.id}}/activities/{{activity.id}}" class="list-group-item">
    <h4 class="list-group-item-heading"> Nombre Actividad: {{activity.name}} </h4>
    <h4 class="list-group-item-heading"> Código de Actividad: {{activity.id}} </h4>
    <p class="list-group-item-text"> Hora de Inicio: {{activity.initial_time | date:'medium'}}</p>
    <p class="list-group-item-text"> Hora de Finalización: {{activity.final_time | date:'medium'}}</p>
    <p class="list-group-item-text"> Capacidad Max.: {{activity.quota}}</p>
    <p class="list-group-item-text"> Personas Registradas: {{activity.current_quota || 0}}</p>
  </a>
</div>

<h2> Lista de Usuarios Inscritos</h2>
<h3> <a href="#!events/{{event.id}}/asistencia"> Revisar asistencia de usuarios</a> </h3>
<table ng-table="tp" class="table" show-filter="true">
  <tr ng-repeat="user_event in $data">
  
      <td> <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="deleteUser(user_event.id)" style="cursor:pointer"> </span> </td>
      <td title="'Nombre'" filter="{ full_name: 'text'}" sortable="'full_name'">
          <a href="#!users/{{user_event.user.id}}"> {{user_event.user.full_name}}</a> </td>
      <td title="'Correo'" filter="{ email: 'number'}" sortable="'email'">
          <p>{{user_event.user.email}}</p> </td>
      <td title="'Identificación'" filter="{ identification: 'number'}" sortable="'age'">
          <p>{{user_event.user.identification}}</p> </td>
  </tr>
</table>

