<div id="exportable">
  
  <a href="#!users/new"> Agregar Usuario </a>
  
  <h2> Lista </h2>
  <table ng-table="tp" class="table" show-filter="true">
    <tr ng-repeat="user in $data">
        <td title="'Nombre'" filter="{ full_name: 'text'}" sortable="'full_name'">
            <a href="#!users/{{invited.id}}"> {{user.full_name}}</a> </td>
        <td title="'Correo'" filter="{ email: 'number'}" sortable="'email'">
            <p>{{user.email}}</p> </td>
        <td title="'Identificación'" filter="{ identification: 'number'}" sortable="'age'">
            <p>{{user.identification}}</p> </td>
        <td> <input ng-model="added" type="checkbox" ng-change="addUsers(user)" </td>
    </tr>
  </table>
</div>