<div class="card">
 <!--<img src="assets/header.png" style="width:100%; height: 100px">-->
 <div>
   <h2><b>{{invited.full_name}}</b></h2> 
   <p> {{invited.identification}} </p>
   <p>Barranquilla, Colombia</p> 
  <img id="qr" src="{{invited.qr}}">
 </div>
<!-- <img src="assets/placehold.gif" alt="Avatar" style="width:100%; height: 46px">-->
</div>

<div class="list-group" ng-if="invited.events.length>0">
  <h2> El usuario se encuentra inscrito en los siguientes eventos y las siguientes actividades: </h2> 
  <ul class="list-group-item">
    <li ng-repeat="event in invited.events">
      <a href="#!events/{{event.id}}"> <h3 class="list-group-item-heading"> {{event.name}} </h3></a>
      <ul>
        <li ng-repeat="activity in event.activities"> 
          <div class="row">
            <a href="#!events/{{event.id}}/activities/{{activity.activity.id}}"> <h4> {{activity.activity.name}} </h4> </a> 
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="slide-bottom-change">
  <button type="submit" class="btn btn-danger" ng-click="deleteUser()" >Eliminar Usuario </button>
</div>