<div class="card">
 <!--<img src="assets/header.png" style="width:100%; height: 100px">-->
 <div>
   <h2><b>{{invited.full_name}}</b></h2> 
   <p> {{invited.identification}} </p>
   <p>Barranquilla, Colombia</p> 
  <img id="qr" src="{{invited.qr}}">
 </div>
<!-- <img src="assets/placehold.gif" alt="Avatar" style="width:100%; height: 46px">-->
</div>

<div class="list-group" ng-if="activities.length>0">
  <h2> El usuario se encuentra inscrito en las siguientes actividades: </h2>
  <a ng-repeat="activity in activities" href="#!events/{{event.id}}/activities/{{activity.id}}" class="list-group-item">
    <h4 class="list-group-item-heading"> {{activity.name}} </h4>
    <p class="list-group-item-text"> Hora de Inicio: {{activity.initial_time | date:'medium'}}</p>
    <p class="list-group-item-text"> Hora de Finalización: {{activity.final_time | date:'medium'}}</p>
    <p class="list-group-item-text"> Capacidad Max.: {{activity.quota}}</p>
    <p class="list-group-item-text"> Capacidad Actual: {{activity.current_quota}}</p>
  </a>
</div>

<div class="slide-bottom-change">
  <button type="submit" class="btn btn-danger" ng-click="deleteUser()" >Eliminar Usuario </button>
</div>